.page-container {
  display: flex;
  flex-direction: row;
  height: 92vh;
}

.page-content {
  width: 86%;
  background-color: #f5eedc;
  display: flex;
  flex-direction: column;
}

.add-task-box p {
  color: #ffffff;
  opacity: 1;
}

.add-task-btn {
  padding: 6px 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: bold;
  color: #0a3d62;
  cursor: pointer;
}

.add-task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #183b4e;
  padding: 12px 14px;
  margin: 15px 15px;
  border-radius: 15px;
}

.add-task-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-container {
  height: 100vh;
  display: flex;
  margin: 0px 0px 15px 15px;
  overflow: auto;
  justify-content: space-between;
}

.card-heading {
  text-align: center;
  font-size: 1.2rem;
  margin: 0px 0px 10px 0px;
  background-color: #183b4e;
  padding: 8px 12px;
  border-radius: 12px;
  font-weight: 500;
  color: #ffffff;
  width: 185px;
}

.card-body {
  background-color: #1d2125;
  height: 130px;
  cursor: grab;
  width: 185px;
  padding: 10px;
  border-radius: 15px;
  overflow-y: auto;
}

.card-title {
  margin: 8px 0;
}

.scrollbar-style::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 10px; /* height of the horizontal scrollbar */
}

.scrollbar-style::-webkit-scrollbar-track {
  background: #333; /* color of the track */
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: #666; /* color of the thumb */
  border-radius: 10px; /* roundness of the thumb */
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: #888; /* color of the thumb on hover */
}
